*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #000;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
@font-face {
	font-family: 'Chosunilbo_myungjo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ChosunKm';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'paybooc-Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
  font-family: 'Chosunilbo_myungjo';
	font-size:14px;
	color:#333;
	line-height:24px;
	min-width: 1320px;
}
.header{
	width:rgb(110, 110, 110)px;
	margin: 0 auto;
	height: 160px;
	position:relative;
}
h1{
	text-align: center;
	padding-bottom:18px;
}
h2{
	position: absolute;
	top:28px;
	left:50%;
	margin-left: -60px;
}

#gnb_wrap{
	width:100%;
	height: 60px;
	border-top: 1px solid #6e4e4a;
	text-align: center;
}
#gnb{
	display: inline-block;
	margin-top: 16px;
}
#gnb li{
	float: left;
}
#gnb li a{
	font-size: 16px;
	font-weight: 600;
	padding: 20px 60px 35px 60px;
	color: #333;
	transition: all 0.5s;
}
#gnb li a:hover{
	color: #6e4e4a;
	transition: all 0.5s;
}
#banner_wrap{
	text-align: center;
}
.banner{
	height: 600px;
	background-image: url(../images/banner/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.banner_icon{
	padding-top: 260px;
}	
.banner_title{
	padding-top: 11px;
}
.banner_text{
	color: #f2f2f2;
	font-size: 13px;
	font-weight:600;
	letter-spacing:13px;
}

/* 로그인페이지 */
#section1{
	width:610px;
	height:480px;
	margin: 150px auto;
	text-align: center;
}

h3{
	width:270px;
	height: 25px;
	font-size: 33px;
	display: inline-block;
	margin-bottom: 35px;
	background: url(../images/title_line_b.jpg); 
	background-repeat: no-repeat;
	background-position: center bottom;
	color: #333;
	letter-spacing: 10px;
	padding-bottom:5px ;
}
.section1_text{
	font-size: 18px;
	color: #999;
	font-weight: 600;
}	
.section1_box_{
	height: 220px;
}


.section1_box_log{  /*입력창*/
	float: left;
	margin-top: 60px;
	width:450px;
	height: 150px
}
.section1_box_log input{  
	font-family: 'Chosunilbo_myungjo';
  background: #fff;
  border: 0;
	border-bottom: 1px solid #67554d;
  width: 90%;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  margin-bottom: 15px;
	outline-style: none;
	font-weight: 600;
}

.section1_box_log ul{   /*아이디/비밀번호 찾기*/
	text-align: left;
	position: relative;
	width:200px;
}
.section1_box_log ul li{
	float: left;
}
.section1_box_log ul li a{
	font-weight: 600;
	color:#777;
}

.section1_box_checkbox input{ /*체크박스*/
	width: 18px;
	height: 18px;
	float: left;
	margin: 3px 6px 0px 10px;

}

.section1_box_log label{
	position:absolute;
	font-weight: 600;
}

.section1_box_button{   /*컬러버튼*/
	float: right;
	margin-top: 60px;
	width: 140px;
	height: 150px;
}
.section1_box_button button{
	width: 140px;
	height: 150px;
	font-family:'ChosunKm';
	color: #fff;
	background: #67554d;
	line-height: 148px;
	font-size: 18px;
	border: 1px solid #343434;
	cursor: pointer;
}


.section1_box_join{  /*회원가입*/
	width:610px;
	height: 100px;
	background-color: #fafafa;
	clear: both;
	margin-top: 60px;
	padding-top: 38px;
	box-sizing: border-box;
}
.section1_box_join p{
	font-size: 14px;
	color: #333;
	font-weight: 600;
}
.section1_box_join img{
	padding: 0 10px;
}
.section1_box_join_A{
	float: left;
	width:400px;
}
.section1_box_join_B{
	float: right;
	width:200px;
}


/* 쿠폰배너 */
#section2{
	width:1000px;
	height:140px;
	margin: 150px auto;
	background: url(../images/section2/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.section2_A{
	float: left;
	width:200px;
	height:140px;
	padding: 50px 0 0 100px;
	box-sizing: border-box;
}
.section2_B{
	float: right;
	width:800px;
	height:140px;
	padding: 60px 0 0 70px;
	box-sizing: border-box;
}
#section2 p{
	font-size: 18px;
	font-weight: 600;
	color: #333;
	font-family: 'paybooc-Medium';
	letter-spacing:3px;
}
#section2 span{
	color: #830310;
	font-size: 20px;
}






/*footer*/
/*footer-top*/
.footer_top{
	width:1020px;
	height: 40px;
	margin: 150px auto 20px;
}
.footer_top li{
	float: left;
	width:20%;
}
.footer_top a{
	display: block;
	font-family: 돋움;
	font-size: 12px;
	margin: 0 5px;
	padding: 5px 15px 2px 24px;
	height: 27px;
	color: #555555;
	background: url(../images/footer/footer_arrow.png) no-repeat center right 15px;
	border: 2px solid #f9f3e9;
	transition: all 0.5s;
}
.footer_top a:hover{
	border: 2px solid #6e4e4a;
	transition: all 0.5s;
}

/*footer-middle*/
#footer_middle_wrap{
	width:100%;
	height: 45px;
	margin: 0 auto;
	background-color: #6e4e4a;
}
.footer_middle{
	width:1017px;
	height: 45px;
	margin: 0 auto;
	background-color: #6e4e4a;
}
.footer_middle_1{
	width:864px;
	float: left;
}
.footer_middle_1 li{
	background: url(../images/footer/line_footer.gif) no-repeat left center ;
	float: left;
}
.footer_middle_1 li:nth-child(1){
	background: none;
}
.footer_middle_1 a{
	display:block;
	font-family: 돋음;
	font-size: 12px;
	color:#ededed; 
	padding:10px 21px;
}	
.footer_middle_1 a:hover{
	font-weight: bold;
	text-decoration: underline;
	}

.footer_middle_2{
	float: right;
	width:153px;
	height: 45px;
	background: #423232;
	text-align: center;
}
.footer_middle_2 a{
	display: inline-block;
	font-family: 돋음;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
	letter-spacing: 2px;
	color:#ededed; 
}

/*footer-bottom*/

#footer_bottom_wrap{
	width:100%;
	height: 217px;
	background-color: #f9f3e9;
	margin: 0 auto;
}
.footer_bottom{
	width:1017px;
	height: 217px;
	margin: 0 auto;
}
.footer_bottom_logo{
	padding: 20px 0 10px;
}
.footer_bottom_text1{
	width:508px;
	height: 140px;
	float: left;
}
.footer_bottom_text1 p{
	font-family: 돋움;
	font-size: 11px;
	color: #666666;
}
.footer_bottom_text1 span{
	color: #666666;
	font-weight: bold;
}
.footer_bottom_text1 a{
	color: #666666;
	text-decoration: underline;
}

.footer_bottom_text2{
	width:508px;
	height:140px;
	float: right;
}
.footer_bottom_text2 p{
	font-family: 돋움;
	font-size: 11px;
	color: #666666;
}
.footer_bottom_text2 a{
	color: #666666;
	text-decoration: underline;
}

.footer_bottom_isms li{
	float: left;
	font-family: 돋움;
	font-size: 11px;
	color: #666666;
	line-height: 15px;
	padding-top: 10px;
}
.footer_bottom_isms li:nth-child(2){
	margin-top: 10px;
	padding-left: 10px;
}
.footer_bottom_isms li:nth-child(3){
	margin-top: 10px;
	padding-left: 50px;
}

	
/*top*/
.fixed{
  position: fixed;
  right:150px;
  bottom:20px;
}
.fixed:hover{
  opacity:0.8;
}